@{
    ViewData["Title"] = "Create an account";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="PanelRegistration">
        <div class="PanelInfo">
            <label>Enter your name</label>
            <input type="text" name="Name"/>
        </div>
        <div class="PanelInfo">
            <label>Enter your age</label>
            <input type="number" name="Age"/>
        </div>
        <div class="PanelInfo">
            <label>Enter your login</label>
            <input type="text" name="Login"/>
        </div>
        
        <span class="SpanErrorLogin">@ViewBag.ErrorSameClientLogin</span>

        <div class="PanelInfo">
            <label>Enter your password</label>
            <input type="text" name="Password"/>
        </div>
        <div class="PanelButtons">
            <button class="btn btn-primary" type="submit">Registration</button>
            <button class="btn btn-secondary" asp-controller="Bank" asp-action="Index">Go Back</button>
        </div>
    </div>
</form>


<style>
.SpanErrorLogin{
    color: red;
}
.PanelRegistration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PanelInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

input {
  width: 200px;
}

.btn {
  width: 100px;
  margin-right: 10px;
}

.PanelButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
</style>