@model Client;
@{
    ViewData["Title"] = $"Hello {Model.Name}";
    
}
<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Card" asp-action="Index">
    <input type="number" hidden name="ClientId" value="@Model.Id"/> 
    <button class="btn" type="submit" >Manager cards</button>
</form>