@model int
@{
    ViewData["Title"] = "Add money to my card";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="MethodAddMoneyToMyCard">
    <p>How much Money do you want to add</p>
    <input type="number" name="countMoney"/>
    <input type="number" hidden value="@Model" name="clientId"/>
    <p></p>
    <button class="btn btn-primary" type="submit">Add Money</button>
</form>
