@model int
@{
    ViewData["Title"] = "Create a card";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="GenerateCard">
    <input hidden value="@Model" name="clientId"/>
    <button type="submit" class="btn btn-primary">Create a card</button>
</form>