@model int
@{
    ViewData["Title"] = "Create a card";
}

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="GenerateCard">
    <input hidden value="@Model" name="clientId"/>
    <button type="submit" class="btn btn-primary">Create a card</button>
</form>

<form method="post" asp-action="Index">
    <input hidden name="clientId" value="@Model"/>
    <button class="btn btn-outline-primary" type="submit">GoBack</button>
</form>