@model int
@{
    ViewData["Title"] = "Manage your cards";
}


<h1>@ViewData["Title"]</h1>


<div class="ControllPanel">
    <div class="TextAndButton">
        <a class="btn" asp-controller="Card" asp-action="ListOfCards">List Of Cards</a>

        <form method="post" asp-controller="Card" asp-action="CreateACard">
            <input hidden name="clientId" value="@Model"/>
            <button type="submit" class="btn" >Create a card</button>
        </form>
        
        <a class="btn" asp-controller="Card" asp-action="TransferMoney">Transfer a Money</a> 
    </div>
</div>


<style>
    .ControllPanel{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .TextAndButton{
        display: flex;
        flex-direction: column;
    }
    
</style>